<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^.*$ htaccess_tester.php
</IfModule>

#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /php/cfc/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.+)$ inicio.php?uri=$1 [QSA,L]
#</IfModule>